const env = process.env.NODE_ENV;

const config = {
  development: {
    eos: {
      host: 'http://127.0.0.1:8888',
      account: 'inspace',
      symbol: 'EOS',
    },
    mongo: {
      uri: 'mongodb://localhost/inspace',
    },
  },
  production: {
    eos: {
      host: 'http://mainnet.eoscalgary.io',
      account: 'inspace',
      symbol: 'EOS',
    },
    mongo: {
      uri: 'mongodb://localhost/inspace',
    },
  },
};

module.exports = config[env];
